<app-loader *ngIf="loaderbool"></app-loader>
<app-header></app-header>
<!-- -->

<div class="content-wrapper">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Create Product</h1>
        </div>
        
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Add Product</li>
          </ol>
        </div>
       
      </div>
      
    </div>
    
  </div>
  <div class="card card-primary">
    
    <nav class="navbar navbar-light">
  <div class="container-fluid">
    
    <div class="d-flex">
      <button
        type="button"
        (click)="clickAddProduct()"
        data-toggle="modal"
        data-target="#exampleModal"
        class="btn btn-outline-dark"
      >
        Add
      </button>
    </div>
  </div>
</nav>

<table class="table mt-3">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <!-- <th scope="col">Upload Image</th> -->
      <th scope="col">Description</th>
      <th scope="col">Price</th>
      <th scope="col">Offer Price</th>
      <th scope="col">Category</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of allproductData">
      
      <td>{{row?.name}}</td>
      <td>{{row?.description}}</td>
      <td>{{row?.price}}</td>
      <td>{{row?.offerprice}}</td>
      <td>{{row?.category}}</td>
      <!-- <td>{{row.id}}</td> -->
      <td>
        <button class="btn btn-info"
         (click)="onEdit(row); open(content)">Edit</button>
        <button class="btn btn-danger mx-3" (click)='deleteProduct(row)'>Delete</button>
      </td>
    </tr>
  </tbody>
</table>

<!-- Button trigger modal -->
<!-- Modal -->

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create Product</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form role="form">
          <div class="card-body">
            <div class="form-group">
              <label for="exampleInputEmail1">Name</label>

              <input
                type="text"
                
                required
                class="form-control"
                id="exampleInputEmail1"
               
                (change)="onNameChanged($event)"
                placeholder="Enter Name"
                
                
              />
            </div>

            <div class="form-group">
              <label for="exampleInputFile">Upload Image</label>
              <div class="input-group">
                <div class="custom-file">
                  <input
                    required
                    accept="image/*"
                    type="file"
                    class="custom-file-input"
                    id="exampleInputFile"
                    name="product"
                    (change)="onFileSelect($event)">
                  <label class="custom-file-label" for="exampleInputFile">{{
                    imgName
                  }}</label>
                </div>
                <div class="input-group-append">
                  <span class="input-group-text" id="">Upload</span>
                </div>
              </div>
            </div>

            <br />

            <div class="form-group">
              <label for="exampleInputEmail1">Description</label>

              <input
                type="text"
                
                required
                class="form-control"
                (change)="onDesChanged($event)"
                placeholder="Enter Name"
              />
            </div>

            <div class="form-group">
              <label for="exampleInputEmail1">Price</label>

              <input
                type="number"
               
                required
                class="form-control"
                (change)="onPriceChanged($event)"
                placeholder="Enter Price"
              />
            </div>

            <div class="form-group">
              <label for="exampleInputEmail1">Offer-Price</label>

              <input
                type="number"
               
                required
                class="form-control"
                (change)="onDiscountChanged($event)"
                placeholder="Enter discount price"
              />
            </div>

            <div class="form-group">
              <label>Category</label>
              <select
                class="form-control select2 select2-hidden-accessible"
                style="width: 100%"
                data-select2-id="1"
                tabindex="-1"
                aria-hidden="true"
                (change)="onSelectChange($event)"
                
              >
                <option
                  selected="Please Select the option"
                  data-select2-id="1 "
                >
                  Please Select the option
                </option>
                <option  value="Nose accessories">
                  Nose accessories
                </option>
                <option  value="Forehead accessories">
                  Forehead accessories
                </option>
                <option  value="Eye accessories">
                  Eye accessories
                </option>
                <option  value="Ear accessories">
                  Ear accessories
                </option>
                <option  value="Hand accessories">
                  Hand accessories
                </option>
                <option  value="Finger accessories">
                  Finger accessories
                </option>
                <option  value="Arm accessories">
                  Arm accessories
                </option>
                <option  value="Wrist accessories">
                  Wrist accessories
                </option>
                <option  value="Hip accessories">
                  Hip accessories
                </option>
                <option  value="Masonry accessories">
                  Masonry accessories
                </option>
                <option  value="Toe accessories">
                  Toe accessories
                </option>
                <option  value="Ankle accessories">
                 Ankle accessories
                </option>
                <option  value="Floral accessories">
                  Floral accessories
                 </option>
              </select>
            </div>
          </div>

          <!-- /.card-body  [disabled]="buttonboool===true ? true : false"-->

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="cancel" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
        <!--*ngIf="showCreate"-->
        <button
          type="button"
          data-toggle="modal" data-target="#preview"
          *ngIf="showCreate"
          class="btn btn-primary">Create</button>
          <!--*ngIf="showUpdate"-->
        <button
          type="button"
          *ngIf="showUpdate"
          
          class="btn btn-primary">Update</button>
      </div>
    </div>
  </div>
</div>
<br>
<!---->




<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Edit Product</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form role="form" >
      <div class="card-body">
        <div class="form-group">
          <label for="exampleInputEmail1">Name</label>
    
          <input
            type="text"
          
            required
            class="form-control"
            id="exampleInputEmail1"
            value="{{objprod?.name}}"
            
            placeholder="Enter Name"
            (change)="onNameChangededit($event)"
            
          />
        </div>
    
        <div class="form-group">
          <label for="exampleInputFile">Upload Image</label>
          <div class="input-group">
            <div class="custom-file">
              <input
                required
                accept="image/*"
                type="file"
                class="custom-file-input"
                id="exampleInputFile"
                name="product"
                (change)="onFileSelectedit($event)">
              <label class="custom-file-label" for="exampleInputFile">{{
                imgName
              }}</label>
            </div>
            <div class="input-group-append">
              <span class="input-group-text" id="">Upload</span>
            </div>
          </div>
        </div>
    
        <br />
    
        <div class="form-group">
          <label for="exampleInputEmail1">Description</label>
    
          <input
            type="text"
            value="{{objprod?.description}}"
            required
            class="form-control"
            (change)="onDesChangededit($event)"
            placeholder="Enter Name"
          />
        </div>
    
        <div class="form-group">
          <label for="exampleInputEmail1">Price</label>
    
          <input
            type="number"
            value="{{objprod?.price}}"
            required
            class="form-control"
            (change)="onPriceChangededit($event)"
            placeholder="Enter Price"
          />
        </div>
    
        <div class="form-group">
          <label for="exampleInputEmail1">Offer-Price</label>
    
          <input
            type="number"
           value="{{objprod?.offerprice}}"
            required
            class="form-control"
            (change)="onDiscountChangededit($event)"
            placeholder="Enter discount price"
          />
        </div>
    
        <div class="form-group">
          <label>Category</label>
          <select
            class="form-control select2 select2-hidden-accessible"
            style="width: 100%"
            data-select2-id="1"
            tabindex="-1"
            aria-hidden="true"
            (change)="onSelectChangeedit($event)"
          >
            <!-- <option
              selected="Please Select the option"
              data-select2-id="1 "
            >
              Please Select the option
            </option> -->
            <option  value="{{objprod?.category}}">
              {{objprod?.category}}
            </option>
            <option  value="Forehead accessories">
              Forehead accessories
            </option>
            <option  value="Eye accessories">
              Eye accessories
            </option>
            <option  value="Ear accessories">
              Ear accessories
            </option>
            <option  value="Hand accessories">
              Hand accessories
            </option>
            <option  value="Finger accessories">
              Finger accessories
            </option>
            <option  value="Arm accessories">
              Arm accessories
            </option>
            <option  value="Wrist accessories">
              Wrist accessories
            </option>
            <option  value="Hip accessories">
              Hip accessories
            </option>
            <option  value="Masonry accessories">
              Masonry accessories
            </option>
            <option  value="Toe accessories">
              Toe accessories
            </option>
            <option  value="Ankle accessories">
             Ankle accessories
            </option>
            <option  value="Floral accessories">
              Floral accessories
             </option>
          </select>
        </div>
      </div>
    <button
      type="button"
      class="btn btn-primary"
      (click)="submitedit()">Update</button>
    
    </form>
  </div>
  
</ng-template>

<!--Second modal for preview-->

<div class="modal fade" id="preview" tabindex="-1" role="dialog" aria-labelledby="previewLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="previewLabel">Preview</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <figure>
          <img src="{{reader.result}}" class="img-fluid img-thumbnail">
          <figcaption>{{name}}</figcaption>
          <span class="span old">&#8377;{{price}}</span>
          <span class="price">&#8377;{{Discount}}</span>
        </figure>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" (click)=" create()">Create</button>
      </div>
    </div>
  </div>
</div>
</div> 



<!-- <app-edit-product [getvalue]="productModelObj.id" *ngIf="showUpdate">

</app-edit-product> -->